<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Nome' }}" />
    </h1>
    <h1><input name="playbook" type="text" value="{{system.playbook}}" placeholder="{{ localize 'Playbook' }}" /></h1>
  </header>

  <div class="flexrow">    
    <div class="resource flex-group-center">
      <label for="system.harm.value" class="resource-label">Harm</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.harm.value" value="{{system.harm.value}}" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.harm.max" value="{{system.harm.max}}" data-dtype="Number" />
      </div>
    </div>
  </div>

  <!--   <section class="items">
    <h3 class="noborder">Owned Items</h3>
    <ol class="actor-items">
      {{#each actor.items as |item id|}}
      <li class="actor-item" data-item-id="{{id}}">
        <div class="item-name">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      {{/each}}
    </ol>
  </section> -->
</form>